{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Jua&display=swap&subset=korean" rel="stylesheet">
        <link rel="stylesheet" href="{%static 'assets/css/update.css'%}?v=1.0" />



</head>


<body>
<div class="allpage">
  <div class="Backgruoung-Img-div">
  <img class="Backgruoung-Img" src="{% static 'assets/images/gg.jpg' %}">
  </div>
</div>

    <nav class="navbar navbar-light" >
        <span class="navbar-text">
          <ul>
            <li><h2 id="change_pw_head">비밀번호 변경</h2></li>

          </ul>
        </span>
        
    </nav>
    <div class="center" > 
        <div class="box1">
            <form method="POST" action="{%url 'change_pw'%}">
                    {% csrf_token %}
                    <table>
    
                        <tr>
                
                        <td style="text-align: right;">기존 PW → </td>
                
                        <td>{{ password_change_form.old_password }}</td>
                        
                        
                        </tr>
                        <td style="text-align: right;">새 PW →  </td>
                
                        <td>{{ password_change_form.new_password1 }}</td>
                        <tr>

                        </tr>
                        <td style="text-align: right;">새 PW 확인 →  </td>
                
                        <td>{{ password_change_form.new_password2 }}</td>
                        <tr>

                        </tr>
                   </table>
                    <br>
                    <input class="btn btn-primary" type="submit" value="수정"></form>
                <p>다른 회원정보와 유사한 비밀번호는 사용 불가합니다.</p>
                <p>최소 8자로 구성된 비밀번호여야합니다.</p>
                <p>흔히 사용되는 비밀번호는 사용 불가합니다.</p>
                <p>숫자 만으로 구성되어서는 안됩니다.</p>
        
    </div>

</body>

</html>